<div class="container">
  <h4>請輸入你的支出</h4>
  <form action="/records" method="POST">
    <div class="mb-2">
      <lable for="name">名稱<span class="text-danger">*</span></lable>
      <input type="text" class="form-control" name="name" required />
    </div>
    <div class="mb-2">
      <lable for="date">日期<span class="text-danger">*</span></lable>
      <input type="date" class="form-control" name="date" required />
    </div>
    <div class="mb-2">
      <label for="category">類別<span class="text-danger">*</span></label>
      <select
        name="catefory"
        class="form-select"
        aria-label="Default select example"
      >
        <option disabled selected value></option>
        <option value="1">家居物業</option>
        <option value="2">交通出行</option>
        <option value="3">休閒娛樂</option>
        <option value="2">餐飲食品</option>
        <option value="3">其他</option>
      </select>
    </div>
    <div class="mb-2">
      <lable for="amount">金額<span class="text-danger">*</span></lable>
      <input type="number" class="form-control" name="amount" required />
    </div>
  </form>
  <button type="submit" class="btn btn-warning">新增支出</button>
</div>